<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<h1>Testing Testing 1..2..3..<h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>

<br>

<%= link_to 'User index', users_path %>

<br>

<%= link_to 'User-Book index', user_books_path %>
